<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/media/css/primer-build.css" rel="stylesheet">
    <link href="/media/css/primer-custom.css" rel="stylesheet">
    <link href="/media/css/blog.css" rel="stylesheet">
    <link href="/media/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="blog-header">
        <a href="/"><h1 class="blog-title">ai-labs.org blog</h1></a>
      </div>
    </div>
    <div class="container-lg px-3 my-5 markdown-body">
      <div class="columns mb-1">
        <div class="four-fifths column block-blue p-3">
          {{ content }}
        </div>
        <div class="one-fifth column block-blue p-3">
          <div class="sidebar-module">
            <h1>Archive</h1>
            <ul class="posts">
              {% for post in site.posts %}
                <li class='{{ post.date | date: "year%Y" }} {{ post.date | date: "month%b" }}'>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <footer>
        <p>© 2015 ai-labs.org</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/media/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    $(document).ready(function(){
      console.log('ready!');
      var $posts = $('.posts li');
      $posts.each(function(i, d) {
        var yearMonth = d.getAttribute('class').split(' ');
        var year = yearMonth[0];
        var month = yearMonth[1];

        // build structure for post
        if ($('#'+year).length == 0) {
          // create and append year
          var $yearElement = '<li id="' + year + '"><span>'+year.split('year')[1]+'</span><ul class="hidden"></ul></li>';
          $('.posts').append($yearElement);
          var $monthElement = '<li id="' + year + month + '"><span>'+month.split('month')[1]+'</span><ul class="hidden"></ul></li>';
          $('#'+year+' ul').append($monthElement);
        } else {
          if ($('#'+year+month).length == 0) {
            // create and append month
            var $monthElement = '<li id="' + year + month + '"><span>'+month.split('month')[1]+'</span><ul class="hidden"></ul></li>';
            $('#'+year+' > ul').append($monthElement);
          }
        }
        // append post
        $('#'+year+month+' ul').append(this);
      });

      // toggle
      $('.posts span').click(function(e) {
        $(this).next('ul').toggle();
        $(this).next('ul').toggleClass('hidden', false);
      });
    });
    </script>

  </body>
</html>