<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/icons/favicon.ico">

    <title>ai-labs.org blog</title>

    <!-- Bootstrap core CSS -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/media/js/ie-emulation-modes-warning.js"></script>

    <!-- Custom style -->
    <style type="text/css">
      .posts {padding-left: 0px;}
      .posts ul {padding-left: 10px;}
      .posts li {overflow: hidden; white-space: nowrap;}
      .posts span {cursor: pointer;}
      .hidden{ display:none; }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div> -->

    <div class="container">

      <div class="blog-header">
        <a href="/"><h1 class="blog-title">ai-labs.org blog</h1></a>
        <!-- <p class="lead blog-description">The official ai-labs.org blog</p> -->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          {{ content }}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <ol class="list-unstyled">
              <li><a href="http://ai-labs.org">About</a></li>
              <!-- <li><a href="#">About</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">About</a></li> -->
              <li class="subscribe">
                Follow us here
                <div class="subscribe-options">
                  <!-- <a class="icon-big twitter" href="http://twitter.com/googleventures"></a> -->
                  <!-- <a class="icon-big facebook" href="http://www.facebook.com/GoogleVentures"></a> -->
                  <!-- <a class="icon-big feed" href="/feed.links.xml"></a> -->
                  <a class="icon-big feed" href="/feed.xml"></a>
                </div>
              </li>
            </ol>
            <!-- <h4><a href="http://ai-labs.org/">About</a></h4> -->
            <!-- <p><a href="http://ai-labs.org/">ai-labs.org</a></p> -->
            <!-- <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p> -->
          </div>
          <div class="sidebar-module">
            <h1>Archive</h1>
            <ul class="posts">
              {% for post in site.posts %}
                <li class='{{ post.date | date: "year%Y" }} {{ post.date | date: "month%b" }}'>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div> -->
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

      <!-- <hr> -->

      <footer>
        <p>© 2015 ai-labs.org</p>
      </footer>

    </div><!-- /.container -->

    <!-- <footer class="blog-footer">
      <p>© 2015 ai-labs.org</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/media/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    $(document).ready(function(){
      console.log('ready!');
      var $posts = $('.posts li');
      $posts.each(function(i, d) {
        var yearMonth = d.getAttribute('class').split(' ');
        var year = yearMonth[0];
        var month = yearMonth[1];

        // build structure for post
        if ($('#'+year).length == 0) {
          // create and append year
          var $yearElement = '<li id="' + year + '"><span>'+year.split('year')[1]+'</span><ul class="hidden"></ul></li>';
          $('.posts').append($yearElement);
          var $monthElement = '<li id="' + year + month + '"><span>'+month.split('month')[1]+'</span><ul class="hidden"></ul></li>';
          $('#'+year+' ul').append($monthElement);
        } else {
          if ($('#'+year+month).length == 0) {
            // create and append month
            var $monthElement = '<li id="' + year + month + '"><span>'+month.split('month')[1]+'</span><ul class="hidden"></ul></li>';
            $('#'+year+' > ul').append($monthElement);
          }
        }
        // append post
        $('#'+year+month+' ul').append(this);
      });

      // toggle
      $('.posts span').click(function(e) {
        $(this).next('ul').toggle();
        $(this).next('ul').toggleClass('hidden', false);
      });
    });
    </script>


  </body>
</html>
